extends layout

block content
  h1= title

  if categories
    for category, index in categories
      .mt-3.px-2.border-l-2
        p.font-bold
          a(href=(category.url)) #{category.name}
        ul.list-disc.list-inside
          if items[index]
            for item in items[index]
              li
                a(href=item.url) #{item.name}
            else
              li No items in this category.

block sidebar-extension
  if categories
    for category in categories
      li
        a(href=(category.url)) #{category.name}