extends layout

block content
  h1= title

  form.py-4(action="", method="POST", enctype="multipart/form-data")
    .flex.justify-center.py-2
      input#name.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="text", name="name", placeholder="Item name", class="focus:outline-none focus:bg-white focus:border-blue-500" value=(item ? item.name : ""), required)
    .flex.justify-center.py-2
      select#category.w-auto.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="text", name="category", placeholder="Category", class="focus:outline-none focus:bg-white focus:border-blue-500", required)
        - categories.sort((a, b) => a.name.toUpperCase() < b.name.toUpperCase() ? -1 : a.name.toUpperCase() > b.name.toUpperCase() ? 1 : 0);
        for category in categories
          if item
            option(value=category._id, selected=(category.name === item.category.name ? "selected" : false)) #{category.name}
          else
            option(value=category._id) #{category.name}
    .flex.justify-center.py-2
      textarea#description.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(cols="30", rows="10", name="description", placeholder="Description", class="focus:outline-none focus:bg-white focus:border-blue-500", required) !{item ? item.description : ""}
    .flex.justify-center.py-2
      input#manufacturer.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="text", name="manufacturer", placeholder="Manufacturer", class="focus:outline-none focus:bg-white focus:border-blue-500" value=(item ? item.manufacturer : ""), required)
    .flex.justify-center.py-2
      input#stock.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="number", name="stock", placeholder="In stock", class="focus:outline-none focus:bg-white focus:border-blue-500" value=(item ? item.stock : ""), required)
    .flex.justify-center.py-2
      input#price.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="number", name="price", step="0.01", placeholder="Price", class="focus:outline-none focus:bg-white focus:border-blue-500" value=(item ? item.price : ""), required)
    .flex.justify-center.py-2
      input#image.bg-gray-200.appearance-none.border-2.border-gray-200.rounded.py-2.px-4.leading-tight(type="file", name="image", placeholder="Upload an image", class="focus:outline-none focus:bg-white focus:border-blue-500" value=(item ? item.image : ""))
    .flex.justify-center.py-2
      button.bg-blue-500.text-white.font-bold.py-2.px-4.rounded(type="submit", class="hover:bg-blue-700") Save

  if errors
    ul
      for error in errors
        li!= error.msg

block sidebar-extension
  if categories
    for category in categories
      li
        a(href=(category.url)) #{category.name}