extends layout

block content
  h1= title

  p.my-2
    span.bg-blue-400.rounded.w-auto.p-1 #{item.category.name}

  p.my-2 #{item.description}

  .flex.justify-around
    p In stock: #{item.stock}
    p Price: $#{item.price}

  hr.my-5
  p
    a(href=item.url+"/update") Edit #{item.name}
  p
    a(href=item.url+"/delete") Delete #{item.name}

block sidebar-extension
  if categories
    for category in categories
      li
        a(href=(category.url)) #{category.name}