extends layout

block content
  h1= title

  p.my-2
    a.bg-blue-400.text-white.rounded.w-auto.p-1(href=item.category.url) #{item.category.name}

  if item.image
    .my-5.flex.justify-start
      img.max-w-screen-sm(src=item.imageUrl, alt="")

  p.my-2 !{item.description}

  .grid.grid-cols-2.gap-4
    p In stock: #{item.stock}
    p Price: $#{item.price}

  hr.my-5
  p
    a(href=item.url+"/update") Edit #{item.name}
  p
    a(href=item.url+"/delete") Delete #{item.name}

block sidebar-extension
  if categories
    for category in categories
      li
        a(href=(category.url)) #{category.name}